[2015-03-09 18:17] jeffreyjackson opened #1 "Podspec"
Can we get a podspec? :grimacing: :beers:

[2015-03-09 20:43] hugocampossousa commented on #1
Hi @jeffreyjackson! I don't use CocoaPods, but I can look at supporting it when I have a chance.

In the meanwhile, pull requests are more than welcome. :-)

[2015-03-10 14:46] jeffreyjackson commented on #1
maybe i'll send along a PR soon :+1:

[2015-03-10 15:10] hugocampossousa commented on #1
That would be awesome, thanks!

[2015-03-28 16:23] rjgdesign commented on #1
Second this!

[2015-04-09 08:03] hugocampossousa commented on #1
Podspec created. You should now be able to use this control with CocoaPods.

Big thanks to @ScottWarner and @vikmeup for helping out!

*Warning:* CocoaPods and IBDesignable don't seem to play along as expected. I don't use CocoaPods so I can't verify this, so please refer to @ScottWarner's comment for more information: https://github.com/hugocampossousa/HCSStarRatingView/pull/2#issuecomment-901347

[2015-04-09 08:03] #1 closed

[2015-04-15 09:16] filipandrei87 opened #4 "New tag version"
Hi. Can you release a new version without using IB_DESIGNABLE?
Apple has released a huge bug in Xcode 6.3 ( http://stackoverflow.com/questions/29544738/xcode-6-3-freezes-hangs-after-opening-xib-file ) and this causes the storyboard to freeze.

Might help some users until Apple decides to fix their mistakes.

[2015-04-16 01:33] richmondwatkins opened #5 "Just wanted to say thanks! This is the best rating view out there!"

[2015-04-16 01:33] #5 closed

[2015-04-17 16:06] hugocampossousa commented on #5
You're most certainly welcome! :-)

[2015-04-17 16:11] hugocampossousa commented on #4
Hi @filipandrei87!

First of all, thanks for the feedback and suggestion.

I would recommend using Xcode 6.2 until this issue gets fixed.

If that's not possible, you can temporarily edit the header file to remove IB_DESIGNABLE until the fix comes through.

(if you're using CocoaPods, the easiest solution might be to fork this repo, make the change you want and update your podspec to temporarily p

[2015-04-17 16:11] #4 closed

[2015-04-30 18:06] HiroshiHorie opened #6 "Podspec minimum requirement is iOS8 ?"
I think it would work fine with iOS7 too, wouldn't it ?

[2015-05-01 21:22] hugocampossousa commented on #6
Yes, I think it will.

I updated the podspec with that change. Thanks!

[2015-05-01 21:22] #6 closed

[2015-05-26 15:33] Piero87 opened #7 "Use custom image?"
Hi this library is amazing, i have only a question, i have a custom image of a star, it's possible to use it in this library?

[2015-05-28 18:17] hugocampossousa commented on #7
Hi @Piero87!

I'm sorry, but this library draws the star directly.

You can subclass it and override `-(void)_drawStarWithFrame:(CGRect)frame tintColor:(UIColor*)tintColor highlighted:(BOOL)highlighted` if you want it to draw anything else other than a star.

For example, you could use that method to draw your custom image for both normal and highlighted modes.

PS: I may consider supporting custo

[2015-05-29 08:27] Piero87 commented on #7
ok thanks!

[2015-07-11 16:54] almassapargali opened #9 "Minimum value option isn't respected"
Hello, I've created one and set minimum value to1. Yet if you swipe over to left border of view, view shows 0 stars highlighted, but value is still 1.0.

I've looked around, but not exactly sure where to make change. Maybe we should use `setValue:` inside `_handleTouch` and check if it's smaller than minimum here?

[2015-07-12 10:16] niccey commented on #9
I am having the same issue and would be happy to see a fix.

[2015-07-12 10:57] niccey commented on #9
@almassapargali As you said, checking for the minimum value inside _handleTouch seems to fix it to me.

For example by inserting this line before ```[self setNeedsDisplay];```:
[code]
which does effectively this as defined in the value getter (adjusts for minimum and maximum value):
[code]

[2015-07-12 12:10] almassapargali commented on #9
@hugocampossousa hello, here is my change https://github.com/almassapargali/HCSStarRatingView/commit/207c5beff1d3ca7d810e955ec204b92117f1edff. Let me know if I should send PR.

[2015-07-12 16:55] #9 closed

[2015-07-14 12:47] Ponf commented on #7
My implementation of custom images in HCSStarRatingView subclass:

[code]

I hope it will be helpful.

[2015-07-14 13:04] hugocampossousa commented on #7
Thanks for that @Ponf!

Seeing this makes me reconsider supporting custom images... :-)

[2015-07-15 15:18] hugocampossousa commented on #7
I added support for custom images in the latest version.

[2015-07-15 15:18] #7 closed

[2015-07-17 00:23] danipralea opened #10 "setting value is not working"
Hello and thank you for your work.
I am trying to set the value with .value = ... but the stars don't fill up :(

Any clue on why does this happen?
Thanks

[2015-07-17 00:26] #10 closed

[2015-07-17 01:12] hugocampossousa commented on #10
Hi @danipralea!

I see you closed the issue. Did you manage to get it to work?

[2015-07-17 06:44] danipralea commented on #10
Yeah, it seems that I'm really close to being crazy. I was not setting the outlet for the star rating view.
Thank you so much for your reply!

[2015-07-17 06:46] hugocampossousa commented on #10
Oh... Yeah, that happens to us all sooner or later :)

[2015-08-08 16:21] gklka opened #11 "Interface Designer does not render the view"
It throws the following error:

[code]

I use the view with the following settings:
<img width="265" src="http://gk.lka.hu/x/Screen%20Shot%202015-08-08%20at%2018.22.55.png">

What could be the problem? How can I solve it?

[2015-08-08 16:51] hugocampossousa commented on #11
Hi @gklka! That's weird!

Can you provide a sample project that maybe I could take a look at?

[2015-08-08 18:07] gklka commented on #11
Yes, here it is:
http://gk.lka.hu/x/StarTest.zip

[2015-08-10 11:39] hugocampossousa commented on #11
Thanks for noticing this @gklka. It's related to a known issue in CocoaPods.

This issue has been fixed in CocoaPods 0.36.1, but you need to add `use_frameworks!` to your podfile (before specifying your dependencies/targets). I added that to your podfile and everything worked! :+1:

Your podfile, after changing, ended up like this:
[code]

Thanks again! I'm going to add a note to my README about t

[2015-08-10 11:39] #11 closed

[2015-08-11 03:48] f33chobits opened #12 "Push it to cocoapods?"
Hi @hugocampossousa
  I was always fail to find a nice rating view until I found this one. But it hasn't been pushed to cocoapods  yet so that we had to specify the git address after 'pod'. Is there a spefific reason why?

[2015-08-11 05:55] gklka commented on #11
Thank you, this works fine. The only caveat is, that it breaks one of my other pods. :)

[2015-08-11 10:44] hugocampossousa commented on #12
Hi @f33chobits!
I'm in the process of doing that... just haven't had the time to finish it.

Thanks for reaching out! I'll post a comment here and close the issue once I'm done. :+1:

[2015-08-12 01:52] f33chobits commented on #12
:+1:
Thanks

[2015-08-12 10:46] hugocampossousa commented on #12
Done: https://cocoapods.org/pods/HCSStarRatingView

[2015-08-12 10:46] #12 closed

[2015-08-14 02:58] WenchaoIOS opened #13 "About UIControlEventValueChanged"
Hi Hugo :
    I believe that set the 'value' in storyboard or manually in code shouldn't trigger UIControlEventValueChanged. It might not a perfect match for the idea 'UIControlEvent'.
    To test my thoughts, I just create a UISegmentedControl and set the 'selectedSegmentedIndex' in code, it didn't trigger UIControlEventValueChanged. But when you click a segment, it did trigger. So shall we follo

[2015-08-17 10:53] hlung opened #15 "Got error "IB Designables: Failed to update auto layout status" when adding to storyboard."
Installed via Cocoapods 0.37.2. Xcode 6.4.

There are 2 red errors shows up on the left side of Xcode. I can build and run the app but the page that has this view goes blank.

- `xxx/Driver.storyboard: error: IB Designables: Failed to update auto layout status: Failed to load designables from path (null)`
- `xxx/Driver.storyboard: error: IB Designables: Failed to render instance of HCSStarRatingVi

[2015-08-17 11:00] hlung commented on #15
Yeah I just tried creating a new project, and add `use_frameworks!` and IB Designables works.

[2015-08-17 11:09] hlung commented on #15
Adding the .h .m file directly into my project works. I'll go with that for now. I think it shouldn't be requiring `use_frameworks!` in the first place.

I did some search and [someone said it's an Xcode bug](http://stackoverflow.com/a/31038531/467588).

[2015-08-17 19:56] hsousa commented on #15
Hi @hlung! Yes, unfortunately `use_frameworks!` appears to be the only way to get pods to work correctly with IB Designable views.

If that conflicts with other pods that don't support `use_frameworks!` I suggest you manually add the control's .h and .m files.

[2015-08-17 19:56] #15 closed

[2015-08-20 17:12] gklka opened #16 "Delegate"
Could you please add a delegate? I would like to be notified about value changes similarly to other `UIControl` classes. I think about something similar as:

[code]

[2015-08-20 17:40] hsousa commented on #16
Hi @gklka! You don't need a delegate for this control, as you can use the recommended `UIControl` method:
[code]

You can also use KVO, but in my opinion the above solution is way simpler.

[2015-08-20 17:43] #16 closed

[2015-08-20 17:51] hsousa commented on #13
Makes sense. I'll implement this, thanks! :+1:

[2015-08-20 17:59] #13 closed

[2015-08-20 18:18] gklka commented on #16
Ok, this is fine. Thank you again!

[2015-08-20 18:19] hsousa commented on #16
No problem, glad I could help! :+1:

[2015-08-25 16:45] hsousa opened #18 "Set of default and custom shapes"
This control evolved into a much more customised solution. The idea might be to have a set of default shapes (star, circle, etc) that can be chosen, as well as public and easy support for custom shapes.

[2015-08-25 16:46] hsousa opened #19 "Refactor names to remove 'star' reference"
Related to #18, doesn't really make sense to keep having 'star' in the name.

[2015-08-25 16:57] hsousa opened #20 "Documentation"
Public headers should be documented inline.

Might also be worth creating a cocoadocs.org-compatible documentation.

[2015-08-25 21:28] hsousa commented on #20
Update: turns out CocoaDocs is pretty smart: http://cocoadocs.org/docsets/HCSStarRatingView/

So, all that's really needed is proper documentation in the header files.

[2015-08-27 16:25] hanjt opened #21 "iOS8 can't set emptyStarImage"
When I used different image between emptyStarImage and filledStarImage in iOS8, but it can't show the emptyStarImage. I don't know why, please help me. Thank you.

[2015-08-27 16:37] hanjt commented on #21
I have got the answer. It just set
UIImage *image = [UIImage imageNamed:@"imageName"];
starRatingView.emptyStarImage = [image imageWithRenderingMode:UIImageRenderingModeAutomatic];

in iOS8

[2015-08-27 16:37] #21 closed

[2015-10-01 15:09] ArturBaghdas opened #23 "Left and right stars cropped"
After setting HCSStarRatingView width small then 100px first and last starts are cropped.
See attached screenshot.
<img width="92" alt="screen shot 2015-10-01 at 7 08 57 pm" src="https://cloud.githubusercontent.com/assets/13787379/10224624/854aeea8-6867-11e5-8748-ccb42b2c7fbe.png">

[2015-10-24 09:26] ylecuyer opened #25 "Error with preview in storyboard"
Within Xcode 7.0.1 I get the following error in the storyboard:

[code]

And there is no preview of the component

[2015-10-24 09:45] ylecuyer opened #26 "Make the view not editable"
How do I make this view not editable (without removing `User Interaction Enabled` because I need it)

[2015-10-26 10:50] hsousa commented on #25
Just tried it on Xcode 7.1 and `Main.storyboard` previewed perfectly on the Sample project.

Can you try with 7.1 and report back please?

[2015-10-26 10:52] hsousa commented on #26
This view depends on that property to know if it should or not allow the user to interact with it (ie. change the value).

Out of curiosity, why do you need `userInteractionEnabled=YES` if you don't want to allow the user to edit the view?

[2015-10-26 11:31] ylecuyer commented on #26
EDStarRating for example has an attribute editable. I want to use this view
to display the rating of an object and let the user click this view to show
a pop-up that would let the user rate this object.

On Mon, 26 Oct 2015 11:52 Hugo Sousa <notifications@github.com> wrote:

[2015-10-26 11:32] ylecuyer commented on #25
I updated xcode to 7.1 and the issue is still there.

On Mon, 26 Oct 2015 11:50 Hugo Sousa <notifications@github.com> wrote:

[2015-10-26 12:18] hsousa commented on #25
Are you trying out the Sample project or your own?

If it's the Sample project, did you change anything after cloning?
If it's your own, did you include the code directly or through CocoaPods?

[2015-10-26 12:21] ylecuyer commented on #25
It's my own. I included it through cocoapods and I have use_frameworks!

On Mon, 26 Oct 2015 13:18 Hugo Sousa <notifications@github.com> wrote:

[2015-10-26 12:32] hsousa commented on #26
Crap, that's a completely valid answer! I'll change this. :-)

[2015-10-26 12:34] hsousa commented on #25
Hmm, now that's weird! Can you get me a sample project with that issue that I can try out on my machine and attempt to work out what might be going on?

[2015-10-26 18:39] #23 closed

[2015-10-26 18:39] #26 closed

[2015-10-27 09:03] iVanPan opened #27 "bitcode problem"
i got this error， “HCSStarRatingView.framework/HCSStarRatingView' was built without full bitcode. All frameworks and dylibs for bitcode must be generated from Xcode Archive or Install build for architecture armv7
clang: error: linker command failed with exit code 1 (use -v to see invocation)”   please support bitcode

[2015-10-28 03:16] rad182 commented on #27
+1

[2015-10-29 11:31] hsousa commented on #27
Can anyone provide me with a sample project of this happening?

[2015-10-29 11:46] rad182 commented on #27
I was able to make this work fine when archiving and submitting to app store with this workaround.

<img width="983" alt="screen shot 2015-10-29 at 7 45 32 pm" src="https://cloud.githubusercontent.com/assets/71201/10817559/a7b5e4c4-7e75-11e5-804a-473bdd6efd81.png">

[2015-10-29 11:51] hsousa commented on #27
Ok, that's the workaround. What do I have to do to break it?
Is the error happening when you compile, when you archive or when you submit to Apple?
Were you including the project directly, using CocoaPods or Carthage?

[2015-10-29 11:53] iVanPan commented on #27
i got this error when i archive

[2015-10-29 11:53] iVanPan commented on #27
i am using Carthage

[2015-10-29 11:54] rad182 commented on #27
@hsousa mine was after uploading to itunesconnect

[2015-10-29 12:26] hsousa commented on #27
Thanks guys! I'm going to try to figure out what might be going on when I have some time.

Until then I suggest using @rad182's workaround.

[2015-11-03 06:08] iVanPan commented on #27
@hsousa  i think it's Carthage's Bug https://github.com/Carthage/Carthage/issues/535 .I am installed last release (0.9.4) https://github.com/Carthage/Carthage/releases/tag/0.9.4 and the problem fixed

[2015-11-04 08:58] K6F commented on #25
My project has same problem too. Open your example , there's no error, designable view present perfect in storyboard. Once I import it in Podfile into my project, problem comes.

[2015-11-04 09:06] K6F commented on #25
When I import source files directly into my project , it show perfect.

[2015-11-09 14:29] claudioredi opened #28 "Is it possible to show it on readonly mode?"
It seems it's not possible but in case I'm missing something I thought I'd to ask :)

Is any way to disallow edition. I'd like to use the same control to provide the feedback and for showing it on a list.

Great work on this, thanks for sharing!

[2015-11-16 06:19] pinprick commented on #25
Have somebody solved this problem?

[2015-11-16 22:45] kkgelu commented on #28
+1 for this feature and +1 for sharing indeed.

It's not hard to subclass it, and return from handle touch earlier,
[code]

then it's readonly.

[2015-11-17 22:06] peterkutasi commented on #25
It seems IB_DESIGNABLE does not work with static libraries. I made it work by telling cocoapod to build dynamic framework instead of static lib. My working sample pod setup is:

[code]

Really nice cocoa control btw, gz :+1:

[2015-11-22 15:45] K6F commented on #25
@peterkutasi thx

[2015-12-02 11:45] rahulmehndiratta commented on #11
It throws the following error:

    Failed to render instance of HCSStarRatingView: the bundle "$Product_Name)" couldn't  be loaded because its executable couldn't be Located
![screen shot 2015-12-02 at 5 14 58 pm](https://cloud.githubusercontent.com/assets/10243461/11530152/47d867e4-9918-11e5-9ad8-dd43342374b0.png)

[2015-12-04 16:27] nlabhart commented on #27
@rad182 did you add the framework, and remove the library from Cocoapods?

[2015-12-04 17:05] rad182 commented on #27
@nlabhart i ended up adding the swift file manually

[2015-12-04 17:08] nlabhart commented on #27
Thanks @rad182 thats helpful.

[2015-12-04 17:09] nlabhart commented on #27
Actually @rad182 is your project Swift, or Object-c?

[2015-12-04 17:11] rad182 commented on #27
@nlabhart swift. i just added bridging header for obj-c files :(

[2015-12-05 21:42] hsousa commented on #27
A swift version might be in the roadmap... :)

[2015-12-05 21:48] hsousa commented on #28
Hi! Sorry for the holy-crap-this-is-so-late reply!

Like @kkgelu said, setting `enabled` to `NO` should do the trick for this.

Doing the same for `userInteractionEnabled` could be considered an alternative, but personally I'd rather use `enabled`.

Anyway, thanks for using the control and taking the time to create the issue. :+1:

[2015-12-05 21:48] #28 closed

[2015-12-05 21:50] hsousa commented on #25
That's why `use_frameworks!` is included in the README :-)

On the other hand, @ylecuyer stated he's using `use_frameworks!`.

/me scratches head, confused.

[2015-12-05 21:52] hsousa commented on #27
Closing this thanks to @iVanPan's input. I'll re-open if anyone else can replicate the issue with Carthage >=0.9.4.

[2015-12-05 21:52] #27 closed

[2015-12-15 08:28] langyapojun commented on #25
well,if i import <code>user_frameworks!</code>, the project is work for me and no error!
But,my project is supported above ios 7.
so,what should i do???

[2015-12-19 10:32] BVSathyaRakesh commented on #20
In Uitableview cell the first time its working fine, when i try to reload the table its value are changing means its not working.

[2015-12-26 07:02] K6F commented on #25
In fact, this error can ignore, use "use_frameworks!" for design, remove it for distribution

[2015-12-29 02:04] avf opened #29 "Problem with spacing when embedded in UIStackView"
There seems to be a problem with setting the `spacing` to a value below 5 when the control is embedded in a `UIStackView`.

To reproduce this:
- Open the demo and delete all the constraints in the main storyboard.
- Select all the views and embed them in a stackview.
- Constrain the stackview to the edges
- Let IB auto-fix the hugging priorities
- Select the topmost `HCSStarRatingView` and set the

[2016-01-21 22:55] mribeiro opened #30 "Clear color for background on UI designer does nothing"
I'm using storyboard. I selected the View and selected the background as "clear" and kept white.
To remove the background I had to define background as UIColor.clear()

[2016-01-27 22:32] phongleq opened #31 "Ibdesignable not working correctly through Carthrage."
There seems to be a issue when trying to preview the view with the framework using carthage. Mine fails to render and complains that the target is missing.

[2016-02-02 10:59] igrrik commented on #30
The same thing.

If you select clear background in IB, nothing happens and you need to set it programmatically.

[2016-02-09 08:47] codwam opened #33 "How to observe value changed?"
How to observe value changed?

[2016-02-10 13:11] hsousa commented on #33
Hi!

If you look at `ViewController.m` in the sample project you'll find a simple way to do so:

[code]

Then all you have to do is implement something like

[code]

You should also be able to use KVO to observe the `value` property.

[2016-02-10 13:11] #33 closed

[2016-02-10 13:14] hsousa commented on #30
I just tested this in the sample project and can confirm that it's working as expected.

Did you make sure that `opaque` is set to `NO`? You can do this either in IB or programatically.

[2016-02-10 13:14] #30 closed

[2016-02-10 13:16] hsousa commented on #25
Closing this since everyone seems to have found a working solution :+1:

[2016-02-10 13:16] #25 closed

[2016-02-10 13:17] hsousa commented on #31
I'm sorry, but I don't use Carthage (support was added via pull request). If you have any idea on how to fix with this feel free to either ping me to discuss or submit a PR.

[2016-02-11 12:07] codwam commented on #33
[starRatingView addObserver:self forKeyPath:@"value" options:NSKeyValueObservingOptionNew | NSKeyValueObservingOptionOld context:nil];

- (void)observeValueForKeyPath:(NSString *)keyPath ofObject:(id)object change:(NSDictionary<NSString *,id> *)change context:(void *)context {
    NSLog(@"Observe change = %@", change);
}

Above is no effect...
Is there should be notify value will changed?

[2016-02-12 08:25] igrrik commented on #30
@hsousa Yes, this is the solution, easy to miss it. Thank you.

[2016-02-16 17:08] segunlee opened #34 "UITableView delaysContentTouches"
I add HCSStarRatingView into UITableViewCell
Just change HCSStarRatingView value, When you scroll in the presence of "HCSStarRatingView" it does not scroll

I set tableView.delaysContentTouches = true; but not working..

[2016-02-23 08:03] vinh-savvycom commented on #34
The same issue with me

[2016-02-26 15:03] Benuuu commented on #31
I think I'm running into the same issue in my xib.  The project is using Swift and Cocoapods.

`FILENAME.xib: warning: IB Designables: Using class UIView for object with custom class because the class _TtC11DealerRater17HCSStarRatingView does not exist`

My view's Identity Inspector Shows:
[code]

@phongleq are you seeing the same warning?

[2016-03-04 00:18] kyominoh opened #36 "Custom Image"
Hi, bro

I have a problem with RatingView that u posted on Github.

I applied the following source to use a different image, not the existing star image, as you wrote.

starRatingView.emptyStarImage = [UIImage imageNamed:@"heart-empty"]; //like_off_big.png
starRatingView.filledStarImage = [UIImage imageNamed:@"heart-full"];//like_on_big.png

I could see the new image that I put in on RatingView, b

[2016-03-04 00:28] kyominoh commented on #36
i try to storyboard, but apps are crash

[2016-03-04 11:20] hsousa commented on #36
Hi @kyominoh!

I find that very strange, because those properties are `strong`.

Can you share a simple sample project where that happens? (you can zip it and paste the dropbox link here)

[2016-03-04 11:59] kyominoh commented on #36
https://www.dropbox.com/s/7qwa133kmjmx2xd/KKariPeopleFixMe.zip?dl=0

Here is a simple source
Full source can not share, sorry
And Sorry to bother

[2016-03-04 13:04] hsousa commented on #36
The problem is that you're **not** using ARC, so when you do this:

[code]

I'm doing this:

[code]

As you can see, my code is ARC-only (ie. I'm not retaining anything because ARC does that for me) and you just provided that setter an autoreleased object. That means that the object will get released on the next runloop, resulting in the error you're seeing.

My advice is to get on the ARC boat, s

[2016-03-04 13:23] kyominoh commented on #36
Thanks Bro,
I forgot to develop again in two years
i'm fool ㅠ.ㅠ

[2016-03-04 18:19] hsousa commented on #36
No worries man, glad I could help. :+1:

[2016-03-04 18:19] #36 closed

[2016-03-10 14:47] kyominoh commented on #36
thanks shared source
Very well've used them
Good luck

[2016-05-10 08:00] icodebuster opened #39 "How to change stars to rectanglar block"
Hi,

How can I change the rating blocks into rectangular block. My desired UI is to make into rectangular bar.

Any help much appreciated.

[2016-05-11 16:04] hsousa commented on #39
What do you mean, like one single bar? Why not use a progress bar or custom view instead of this?

Anyway, for that you could use custom images or override my internal draw methods to draw your own rectangles.

[2016-05-11 18:24] icodebuster commented on #39
Hi,

What I meant was instead or stars or hearts there will be rectangular boxes for rating. I will give it a shot.

Thank you for your reply.

[2016-05-11 18:25] icodebuster commented on #39
Hi,

What I meant was instead or stars or hearts there will be rectangular boxes for rating. I will give it a shot.

Thank you for your reply.

[2016-05-11 18:25] #39 closed

[2016-05-24 06:00] MVakas opened #40 "Specs satisfying the `HCSStarRatingView (~> 1.4.5)` dependency were found, but they required a higher minimum deployment target."
I’m getting the error mentioned in title while trying to install through cocoapods.

[2016-05-24 07:06] hsousa commented on #40
What's your project's minimum deployment target?

[2016-05-24 07:10] MVakas commented on #40
9.0

[2016-05-24 07:14] hsousa commented on #40
Then this really shouldn't be an issue...

But then again some people seem to be having this issue: https://github.com/CocoaPods/CocoaPods/issues/4373

What CocoaPods version do you have?

[2016-05-24 07:16] MVakas commented on #40
cocoapods-0.39.0

[2016-05-24 07:18] hsousa commented on #40
Can you create a sample project where this happens so I can take a look?

[2016-05-24 07:31] MVakas commented on #40
I will.

[2016-08-29 08:30] hongzhou85 opened #45 "Make touch interaction increment by half star"
How would you set the touch increment on the stars to increase by half a star each time as your slide? I have set in IB to allow half star and accurate half star, but the selection is still continuous.

[2016-09-25 08:22] wuyazi opened #46 "the view cannot display (use Storyboard)"
it can display on Xcode(7) simulator(iOS9).
But it cannot display on my iPhone(iPhone6 iOS10), cannot see any thing but can touch.

[2016-09-26 11:46] wuyazi commented on #46
it is my wrong.

[2016-09-26 11:46] #46 closed

[2016-10-06 12:50] NikKovV commented on #20
What do properties:

- HCSStarRatingViewShouldBeginGestureRecognizerBlock
- shouldBecomeFirstResponder
- continuous

?

[2016-10-06 18:30] hsousa commented on #20
`HCSStarRatingViewShouldBeginGestureRecognizerBlock`: https://github.com/hsousa/HCSStarRatingView/commit/2bade4bf8f593d57e80f21cb1f7535a635a5c754

`shouldBecomeFirstResponder`: #24

`continuous`: #22https://github.com/hsousa/HCSStarRatingView/commit/d4cc2ccaa7b8a9ed1b63c0cb38a02dcfeea595d1

value generate continuous update events.

[2016-10-19 12:40] sebastienkb opened #47 ""Use of @import when modules are disabled" error"
Hi,

I currently have an issue with my project. It worked fine so far but when trying to add your cocoapod using
`pod 'HCSStarRatingView'`
and then using a UIView with class HCSStarRatingView, it displays fine.
But when I want to obtain the selected value, I ctrl-click from the IB to the .h file of my controller, and create:
`@property (weak, nonatomic) IBOutlet HCSStarRatingView *rating;`

of cou

[2016-11-05 21:17] hsousa commented on #45
Hi @hongzhou85, sorry for only answering now.

It seems that what you want is to have accurate half stars set to `NO`, so it just tracks half stars.

Closing this, please reopen if this didn't solve your issue.

[2016-11-05 21:17] #45 closed

[2016-11-05 21:20] hsousa commented on #47
Oh wow, that's weird!

Shouldn't be an issue since here since I'm not including any project file in the actual pod, just the `.h` and `.m` files.

Sorry for only answering now, did you find a solution to this problem since then?

[2016-11-05 21:21] hsousa commented on #34
What do you mean exactly by this? The scroll doesn't happen if your dragging begins on top of the rating view?

Because if so, that's the expected behaviour (since the rating view will pick up the touch before the table view).

[2016-11-05 21:22] hsousa commented on #31
Closing this as it's been dead for a while. Please reopen if you have feedback on this issue.

[2016-11-05 21:22] #31 closed

[2016-11-05 21:26] hsousa commented on #29
Hi @avf! Did you find a solution to this?

From my experience, `UIStackView` should be doing the right thing (which is why it works in the demo project 😆).

Have you checked your constraints and content compression resistance priority? If something else inside the stack view has a higher CCRP than the rating view bad stuff might happen 😜

[2016-11-06 09:07] hsousa commented on #49
Right now this control assumes stars (or rating steps, depending on what image you are using) are always squares, sorry.

I plan on supporting this in an upcoming version, but if you need it _now_ you can change how it works internally (look at `drawRect`'s `starSide` usage).

If you do change it, feel free to submit a pull request. 🙂

[2016-11-06 09:56] vishal91 opened #49 "How can we increase the size of the image of rating star?"
I am using custom images , tried increasing height of the view but the size of the image is not increased. Whats the work around. i am using constraints for build the view.

[2016-11-09 08:19] sk70 opened #50 "I want to set different images for each star"
Is this possible ?

I would like different star colors for each star when only one color is set for all of them now.
Can you help me with this?

[2016-11-11 10:18] hsousa commented on #50
Sorry, but this control doesn't support that at this point.

[2016-11-11 10:18] #50 closed

[2016-11-12 09:22] hsousa commented on #40
Closing due to inactivity. Feel free to re-open if you encounter this issue again.

[2016-11-12 09:22] #40 closed

[2016-11-15 20:57] hsousa opened #51 "Allow user to remove rating"
Related to discussion in #42, ideally this control would have a behaviour similar to what's currently found in iTunes: when dragging to the left of the control (x<=0), the value `0` is assigned on touch up.

[2016-11-16 16:03] hsousa commented on #47
Closing due to inactivity. Feel free to reopen if you find new information related to this.

[2016-11-16 16:03] #47 closed

[2016-11-18 15:05] dimovskidamjan opened #52 "Value not setting to 0"
I'm using rating views in table view cells, where I set the rating value in the `cellForRow:` method of the table view's data source. It works fine in all cases, except when the value I'm trying to set is 0. In this case, the rating view retains some random value for some reason, and completely ignores the 0.

[2016-11-18 15:06] dimovskidamjan commented on #52
The problem was that the minimumValue of the rating view was set to 1.

[2016-11-18 15:06] #52 closed

[2016-12-19 09:29] dimovskidamjan opened #53 "Rating is always rounded up"
When using half stars, the rating is aways rounded up like so:
For a value of 2.1, the rating view shows 2.5 stars when it should show only 2 stars.

Any properties that handle this? Any way to change that behavior if not?

[2016-12-20 08:54] hsousa commented on #53
Hi @dimovskidamjan!

That happens because the value corresponds to what the control is displaying at the moment, and if `accurateHalfStars == NO` then it will always round up to the next half unit.

For instance, anything `> 2.0 & <= 2.5` will always be `2.5` stars because that's what a user expects to happen when scrolling his finger at the beginning of a star.

If you need the actual value (eg.

[2017-01-09 11:59] menaweb commented on #29
Hi @avf, I have the same problem when embedded in UIStackView. My solution was add an aspect ratio constraint to the view and the spacing problem was fixed.

[2017-01-09 12:59] hsousa commented on #29
Thanks @menaweb and @avf. I'll take a look as soon as I have some time to see what might be going on. 🤔

[2017-01-17 12:11] Mudasir441 opened #54 "I have used the Stars in two places.One is showing the rating and the other is where user gives rating. How can I disable the touch event for the stars where rating is shown only."

[2017-01-17 12:29] #54 closed

[2017-03-22 15:49] mmarshak commented on #15
Hi, is there any update on this?

[2017-03-23 14:38] hsousa commented on #15
Not that I know of, sorry.

[2017-05-09 22:52] renanstig opened #55 "Tap gesture not working on iOS 10+"
Hello,

First, thanks for sharing this library with us, it's really great.
I'm facing a problem which my tap gesture seems not to be recognized by the UIView.
I did a quick search in the list of closed issues and I found out that I should change is `enabled` property to `false`.

I did it and set `UserInteractionEnabled` to `true`, but even so my tap gesture still don't work. Do you have any idea

[2017-06-30 09:31] SanjeetVerma opened #56 "Star Rating keep same for Next time"
First of all i would to say Thanks for great library i am facing some issue like
if i give the rating once so it become full of colour of star,now i want to keep remain if user appear next time into that screen. please help me out!

[2017-06-30 09:38] hsousa commented on #56
Hi @SanjeetVerma!

That has to be done outside of this control. This is purely a visual component.

Persistence should be taken care of elsewhere.

From what you're describing, you should be passing an object to your view controller that stores the rating value... something like:

[code]

Then whenever you're creating your view controller:

[code]

[2017-06-30 09:38] #56 closed, assigned to nobody

[2017-08-03 11:25] chathuralakmal opened #57 "Values are not updating -Interface Builder"
I have added the StarRatings to Interface builder. and using side panel i can update the values and set images fine. but when ever i try to update the values it doesnt effect.

I simply created outlet and created following.
        _starRatings = [HCSStarRatingView new];
        _starRatings.minimumValue = 0.0;
        _starRatings.maximumValue = 5.0;
       _starRatings.maximumValue = 2.0;

[2017-08-03 17:13] hsousa commented on #57
If you do `_starRatings = [HCSStarRatingView new];` and `_starRatings` is an outlet, you just destroyed that outlet connection.

If you're using interface builder for this you shouldn't need to do any configuration on your code (unless it changes dynamically).

Try removing all those lines and just do `self.starRatings.value = <your_value>;`

[2017-08-03 18:23] chathuralakmal commented on #57
Oh thank you very much. i just understand it.

[2017-08-03 18:23] #57 closed, assigned to nobody

[2017-08-10 17:15] prakashmaharjan opened #58 "How to setup HCSStarRatingView view in UICollection view cell Swift?"
Hello friends,
I am having problem using HCSStarRatingView in UICollection Cell.
How to setup HCSStarRatingView view in UICollection view cell Swift 3?
HCSStarRatingView star value set keeps on changing when rating view in UICollectionView Cell and collection view is scrolled.

I added HCSStarRatingView on UICollection View Cell in storyboard.
Created strong outlet of HCSStarRatingView as

 @IBOut

[2017-08-10 20:59] hsousa commented on #58
That code should work to properly configure the rating view in a cell.

Are you sure you're not doing anything else to that cell or the rating view when the collection view scrolls?

[2017-08-11 02:03] prakashmaharjan commented on #58
Yes, thats all i have done.
However, I got weird behavior of rating view being changing on scroll.
I am not sure what is the actual issue..

[2017-08-17 10:41] prakashmaharjan commented on #58
Hi hsousa,
thanks for response.
I figured out the issue. It was that I had set the minimum value of star to be set as 1 in storyboard.
But as I am setting the rating UI with the values from JSON array, the some values were 0, so as minimum value it could set was 1 it showed such weird behaviours.

But I have one confusion. I am using this same rate UI in table cell to display rating done by users

[2017-08-17 12:07] hsousa commented on #58
Interesting, I never really thought about the scenario you're describing, where the initial value might be different than the one allowed to be input by the user.

To be honest, this is actually something that would make sense to be added to `HCSStarRatingView`, and I'm planning on implementing a couple of new things for a 2.0 update later this year 🤞.

As a temporary workaround, how about this:

[2017-08-18 04:12] prakashmaharjan commented on #58
Thanks hsousa for the response.
I will be waiting for the 2.0 update. Hope there will update in Swift as well. 👍
Good day. :)

[2017-08-18 08:32] hsousa commented on #58
My pleasure!

[2017-08-18 08:32] #58 closed, assigned to nobody

[2017-08-30 16:09] hongzhou85 commented on #46
@wuyazi What happen? I also have this problem that sometimes it shows and sometimes not

[2017-09-04 06:53] Gurmeetkaur5949 opened #59 "Star rating in tableview do not show the rating value properly"
Hello sir, I have added the star rating view in my app. But i have an issue if i use the star rating in view controller its working fine but if i use this in a table view for multiple rows then the rating is not show properly. if i  scroll the tableview the value of upper cells that contains rating view is changed. Please suggest me what can i do to implement it in tableview??

[2017-09-04 07:07] hsousa commented on #59
It sounds like you're not storing the value of the rating anywhere, so when your tableview cells get reloaded they lose their value.

[2017-09-04 07:18] Gurmeetkaur5949 commented on #59
Thanks for reply sir.The values of rating are stored in an array. I have passed
 the array values to star rating view to show rating on multiple rows.

[2017-09-04 09:36] hsousa commented on #59
Can you get me a small sample project with the issue so I can better understand what your problem is?

[2017-09-04 09:41] Gurmeetkaur5949 commented on #59
Thanks for your help sir. The Problem is sorted out.

[2017-09-04 09:42] #59 closed, assigned to nobody

[2017-09-18 06:42] IPOSDai opened #60 ".mm will lead to Xcode error! @import UIKit"
Beacause of I want to use SDK(contains C++), AppDelegate.m to AppDelegate.mm，the “@import UIKit” products error

[2017-10-12 07:37] chawda commented on #53
I have rating as 3.75. It is always displaying 3.5 and not 4.  I tried with accurateHalfStars = YES  as well as accurateHalfStars = NO.  This is when I am trying to set rating programatically.

For 3.8 rating also it is displaying 3.5 always. May be we should calculate ourself to match half we want to set.

Following function is working for me to round to half number

    class func halfRound(floa

[2017-10-12 10:47] hsousa commented on #53
If `accurateHalfStars = YES` it should always display the exact portion of the star, without rounding... 🤔

Can you get me a sample snippet or project where this happens? I'd like to debug it and figure out what's happening.

[2017-11-16 10:27] ethan-nil opened #61 "Is it possible to add one parameter as optional?"
Hi guy: Is it possible to add one parameter as optional?
Just for show

[2017-11-17 10:23] hsousa commented on #61
Can you be more specific?

[2017-11-20 21:53] ChekistNSK commented on #53
Yes, `accurateHalfStars = YES`, and of course `allowsHalfStars = YES`.

Then i setting from code:
`float floatRatingValue = (myVal * 100.0) / 100.0;
self.starRatingControll.value = floatRatingValue;`

i get like `4.75`, but 5ts star filled full width......

[2017-11-21 04:18] ethan-nil commented on #61
For example: I just want to use it to show the score, do not need to do action events.
You can set an attribute to control whether he needs to bring the change event.

[2017-11-21 09:51] sulizhan commented on #61
starRatingView.enabled = NO;

[2017-11-21 12:41] hsousa commented on #61
What @sulizhan said is correct. You should be able to get that behaviour by simply disabling the control.

[2017-11-21 12:41] #61 closed, assigned to nobody

[2017-11-23 02:58] ethan-nil commented on #61
ok, ths

[2017-11-30 08:54] saito-sv opened #62 "Value not updating"
After setting the value, it seems that the value does not get updated.
if I do `rating.value = 0` and in the IB the value was 2, it still keeps the value from IB.

[2017-11-30 08:57] #62 closed, assigned to nobody

[2017-11-30 08:58] saito-sv commented on #62
Closing it, Looks like I had a min value set. and My new value was less than that.

[2017-12-16 03:20] zidonJ opened #63 "if this in tableview has a problem"
tableview can not scroll if finger in our starRateView.I change it inherit UIView resolve this. If author have a better Solution

[2018-01-30 22:52] iCtz opened #64 "Fill from right to left"
hey is there a way to make it fill the stars from the other direction ( from right to left)???

[2018-02-18 16:01] hlarcher opened #65 "IBDesignable not working properly"
...storyboard: error: IB Designables: Failed to render and update auto layout status for ViewController (CvE-oC-4JB): Failed to load designables from path (null)

installing via pod this happens every time I try to use this class in interface builder and then everything disappears (doesnt render) from the view.

[2018-04-08 21:42] yurii-petrov commented on #65
<img width="235" alt="screen shot 2018-04-09 at 00 41 03" src="https://user-images.githubusercontent.com/20144003/38472852-bf2526e6-3b8e-11e8-94ea-eeb6e16a8494.png">
I've got the same problem.

[2018-04-20 20:03] AbrahamEP opened #67 "I want Star Rating in read-only mode but also detect touches for displaying an alert"
I need just show the stars and the user can't change them but when the users tap the rating view show an alert. Is that possible ?

[2018-04-23 06:47] palanik1987 commented on #11
Select the concerned view and uncheck "Inherit module from target" under identity inspector in Xcode. This should work

[2018-04-23 14:09] hsousa commented on #67
The easiest way to achieve this without having to change how the rating view works internally is through composition: wrap the start rating view inside a custom view that manages the touches (through a gesture recognizer, for example).

That way you can safely disable user interaction on the rating view and still be able to grap a tap to display an alert.

To make updating the rating view's values

[2018-04-23 14:09] #67 closed, assigned to nobody

[2018-04-23 14:10] hsousa commented on #65
Did you add `use_frameworks!` do your podfile?

[2018-04-23 14:11] hsousa commented on #64
Not right now, sorry. But this is definitely something I plan on supporting when I have a bit of time to give this project some _real_ love again 🤞

[2018-04-23 14:40] AbrahamEP commented on #67
Great! Thank you so much

[2018-05-01 22:28] Krusheuski commented on #25
Not fixed!
Xcode 9.3 (9E145), HCSStarRatingView 1.5

`Main.storyboard: error: IB Designables: Failed to render and update auto layout status for ReviewsViewController (oEa-hA-nyK): dlopen(HCSStarRatingView.framework, 1): no suitable image found.  Did find: HCSStarRatingView.framework: required code signature missing for 'HCSStarRatingView.framework'
 `

[2018-05-02 14:17] budowski commented on #25
It's an issue with CocoaPods 1.5, not this specific component - see here for solution:
https://stackoverflow.com/a/50002531/1233767

[2018-05-03 23:21] Krusheuski commented on #25
@budowski thx.

[2018-05-04 08:17] Cruzv35 commented on #60
#import <UIKit/UIKit.h>

[2018-05-04 08:22] Cruzv35 opened #68 "Is it Possible to Use different Tint Color on Unselected Image?"
Im Trying to Make a Star Rating. and Using an AlertController to do so. With the Selected Star Color Yellow. but the unSelected Star would be outline as yellow too but this will make it less visible. if only can make it DarkGray for unselected Star. Please any help would do

[2018-05-09 04:46] Aryal-Nischal commented on #65
Yes `use_frameworks!` is enabled in podfile. Still receiving the issue mentioned by @petrovRV

[2018-05-23 07:05] bkvocka commented on #65
Downgrading cocoapods to 1.4.0 fixed this problem.

[2018-06-07 18:15] purepure opened #69 "[Request]Support Editing Changed and other events"
I hope this library could support other event instead of only ValueChanged. It help we build better UI/UX. When user swipe their finger over the rating bar, we can display a description for each value:
1. Oops! too bad
2. Not good enough
3. Good
.... and so on

That is my idea.

BR

[2018-06-26 13:41] paulja commented on #65
Any further news on this? The error I receive is:

[code]

Seems to be some kind of permissions/code signing issue?

[2018-07-31 04:04] ashishpisey commented on #65
Any updates on this ?

[2018-08-30 07:38] #34 closed

[2019-03-11 07:24] rahulsingh1101 opened #70 "Failed to render and update auto layout status"
file:///Users/admin/Desktop/untitled%20folder/ecommerce/eShop/Base.lproj/Main.storyboard: error: IB Designables: Failed to render and update auto layout status for ProductViewController (aZt-IO-q4U): Failed to load designables from path (null)

Due to this issue I am unable to submit this app to App store.

[2019-03-13 17:16] hsousa commented on #70
Are you using CocoaPods?

If so, did you add `use_frameworks!` to your Podfile?

[2019-04-11 02:02] scott-lydon commented on #25
I'm getting this problem without using cocoapods.

[2019-04-17 09:17] hsousa commented on #25
@scott-lydon _without_ CocoaPods?

Weird! Can you get me a quick sample project I can test locally and try to see what's going on?

[2019-05-29 22:52] adelbios commented on #64
@iCtz @hsousa
one line of code solve this
but in you'er library check semantic of app if right to left, then make transformation for HCSStarRatingView

that's my solution
Objective-c
`    self.rateView.transform = CGAffineTransformMakeScale(-1.0, 1.0);
`
swift
`self.collectionView.transform = CGAffineTransform(scaleX: -1.0, y: 1.0)`

[2020-04-11 16:31] getSwiftly commented on #70
This is still an issue

[2020-05-11 11:41] rahulvyas commented on #63
What did you do to solve the issue ? I'm having the same issue

[2021-12-16 08:10] alierdogan7 opened #73 "Accessibility: how to give rating with VoiceOver?"
When HCSStarRatingView is tested with VoiceOver and accessibility enabled, it only reads the current value of rating and passes to the next element. I want visually impaired users to be able to select the 1st star, 2nd star and so on. while VoiceOver focuses on each star one by one and allows user to select it and give rating. Is it possible?

[2022-07-19 11:15] GoldenPreet opened #74 "How to make stars' corners Rounded"
I need to make stars a bit rounded, how to do it?

[2022-10-18 11:11] hsousa commented on #74
You need to either modify `-_drawAccurateHalfStarShapeWithFrame:tintColor:progress:` to draw a different shape, or use custom images as described [here](https://github.com/hsousa/HCSStarRatingView#custom-images).

[2022-10-18 11:11] #74 closed, assigned to nobody